OPENROUTER_KEY=
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
TWITTER_ACCESS_TOKEN=
TWITTER_ACCESS_SECRET=
SUPABASE_URL=
SUPABASE_KEY=
STORJ_ACCESS_KEY=
STORJ_SECRET_KEY=
STORJ_ENDPOINT=https://eu1.gateway.storjshare.io
STORJ_GATEWAY=https://link.storjshare.io/s/firstbucket
STORJ_BUCKET=firstbucket
SOL_WALLET_ADDRESS=
